.display_content {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    .title {
        text-align: center;
    }

    .ant-tree-draggable-icon {
        display: none;
    }
    // .ant-tree-switcher {
    //     width: 0;
    // }
}